# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment files
.env


variables.css
api
botApi.js

# IDE files
.vscode/
.DS_Store


State
logs
checkmode.py
trades.csv

node_modules